body {
    font-family: Tahoma;
    font-size: 10pt;
    color: #4682b4;
    background-image: url('img/tlo.png');
    background-attachment: fixed;
}

.tabelaGlowna {
    padding: 5px;
    /*box-shadow: 28px 25px 51px -10px rgba(70,130,180,1);*/
    box-shadow: 0px 5px 104px 12px rgba(70,130,180,1);
}


table {
    border-spacing: 0px;
    border-width: 0px;
    border-collapse: collapse;
}

thead tr{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

td.content {
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
    background-color: White;
    border-width: 0px;
    border-color: Black;
}

td.naglowek {
    background-image: url("img/logo.png");
    background-repeat: repeat-x;
    padding: 0px 0px 0px 0px;
}

td.towarNazwa span {
    text-align: left;
}

td.nazwa-strony {
    background-color: white;  
    padding: 10px 0px 0px 0px;
}

table input[type="text"]{
    border-radius: 5px;
}

td.nazwa-strony span {
    float: left;
    padding: 0px 0px 0px 10px;
    font-weight: bold;
}

.searchIcon {
    align-content:stretch;
}

td.stopka {
    background-image: url("img/dol.png");
    background-repeat: repeat-x;
    padding: 0px 0px 0px 0px;
}

td {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

/*.wiersz:hover span{
    font-weight: bold;
}*/

.wiersz.towarNazwa span {
    text-align: left;
}

.formularzKomentarza {
    display: none;
}

tr [type="text"] {
    margin-top: 5px;
    margin-bottom: 5px;
}
tr.wiersz {
    height:30px;
}

tr.wiersz td input[type="text"]{
    display: none;
}

tr.wiersz td input[type="number"] {
    width: 60px;
    display: none;
}

.ui-tooltip {
    width: 200px;
    text-align: center;
    box-shadow: none;
    padding: 0;
}

.ui-tooltip-content {
    position: relative;
    padding: 0.5em;
}

    .ui-tooltip-content::after, .ui-tooltip-content::before {
        content: "";
        position: absolute;
        border-style: solid;
        display: block;
        left: 90px;
    }

.bottom .ui-tooltip-content::before {
    bottom: -10px;
    border-color: #AAA transparent;
    border-width: 10px 10px 0;
}

.bottom .ui-tooltip-content::after {
    bottom: -7px;
    border-color: white transparent;
    border-width: 10px 10px 0;
}

.top .ui-tooltip-content::before {
    top: -10px;
    border-color: #AAA transparent;
    border-width: 0 10px 10px;
}

.top .ui-tooltip-content::after {
    top: -7px;
    border-color: white transparent;
    border-width: 0 10px 10px;
}

