<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/style_mb.css">
</head>
<body>
    <div>
        <div class="tabelka" style="width: 1024px; margin: auto;">
            <table>
                <tr>
                    <td class="naglowek">
                        <img src="~/Content/img/logo.png" />
                    </td>
                </tr>
                <tr>
                    @RenderBody()
                <tr>
                    <td class="stopka">
                        <img src="~/Content/img/dol.png" />
                        W przypadku problemów z działaniem strony proszę o <a href="mailto: w.wijata@mojebambino.pl">kontakt.</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
        @RenderSection("Scripts", required: false)
</body>
</html>
